body {
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.container {
  margin: 35px auto;
  background-color: rgba(0, 0, 0, 0.73);
  height: 90vh;
}

.city {
  background: url("./images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 90vh;
}
.title {
  float: right;
  font-family: "Oxygen", sans-serif;
  padding: 30px 30px 0 0;
}

.part2{
  background-color: rgba(0, 0, 0, 0.65);
  height: 90vh;
}

.temperature {
  width: 0%;
  position: relative;
  float: right;
  left: 100%;
  margin-bottom: 10px;
}

.temperature p {
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 40px;
}

.temperature p span {
  font-size: 50px;
  font-weight: 200;
} 

.today-weather h3 {
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  width: 80%;
  margin: 0 auto 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.today-weather ul li {
  width: 74%;
  margin: 0 auto;
  line-height: 39px;
  border-width: thin;
  border-bottom: 1px solid #777;
  color: #eee;
  font-weight: 600;
  text-align: left;
  padding-left: 20px;
}

.today-weather ul li span {
  float: right;
  padding-right: 10px;
}

.search-box .search-bar {
  border: none;
  padding: 10px 11px;
  background: transparent;
  color: white;
  border-bottom: 1px solid;
  font-size: 18px;
}
.search-box .search-bar::placeholder {
  color: white;
}
.search-bar:focus {
  outline: none;
  border-bottom: 1px solid gray;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.search-box img {
  width: 70%;
  cursor: pointer;
}

.cityHead {
  display: flex;
  align-items: center;
  justify-content: center;
}